[Unit]
Description=InvokeAI Local Service
StartLimitIntervalSec=1d
StartLimitBurst=5
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
RestartSec=30
User=invokeai
WorkingDirectory=/opt/job/InvokeAI
ExecStart=/opt/job/InvokeAI/service.sh
ExecStop=docker kill invokeai

[Install]
WantedBy=multi-user.target